.form__row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form__row_search {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    flex: 1;
    max-width: 50rem;
}
.form__row_image {
    display: grid;
    grid-template-columns: auto 8rem;
}
.form__lbl {
    color: grey;
    cursor: pointer;
    user-select: none;
}
.form__lbl_req {
    color: crimson;
}
.form__inp {
    border: 1px solid silver;
    outline: none;
    padding: 1rem 1.5rem;
    font-family: inherit;
    font-size: inherit;
    border-radius: 1rem;
    width: 100%;
}
.form__inp:focus {
    box-shadow: 0 0 2px 0 silver;
}
.form__select {
    position: relative;
    display: flex;
    align-items: center;
}
.form__select::after {
    font-family: "lineicons", sans-serif;
    content: "\eb11";
    position: absolute;
    color: silver;
    background: #fff;
    padding-right: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    right: 0;
    box-sizing: border-box;
    border: 1px solid silver;
    border-radius: 0 1rem 1rem 0;
    border-left-style: none;
}

.form__text {
    resize: vertical;
}
.form__icon {
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.5rem;
    color: silver;
}

.form__image {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    border: 1px solid silver;
}
.form__image_top {
    height: 30rem;
}
.form__image_right {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.form_auth {
    width: 100%;
    max-width: 50rem;
}
.form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.form__links {
    width: 100%;
    max-width: 50rem;
    display: flex;
    gap: 1rem;
}
.form__btn {
    background-color: silver;
    border: 1px solid silver;
    border-radius: 1rem;
    padding: 1rem;
    font-size: inherit;
}

.form__btn:hover:not(:disabled) {
    background-color: grey;
    color: white;
}
.form__btn:disabled {
    cursor: auto;
}
.form__link {
    flex: 1;
    background-color: transparent;
    border: 1px solid;
    border-radius: 1rem;
    padding: 1rem;
    color: grey;
}
.form__link:hover {
    color: black;
}
.form__tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.form__tag {
    flex: 0;
    font-size: 1.5rem;
    line-height: 1;
}
.form__switch {
    display: none;
}
.form__switch:checked+.form__lbl_switch::before {
    background-color: silver;
}
.form__switch:checked+.form__lbl_switch::after {
    transform: translate(2rem, 0);
}
.form__lbl_switch {
    align-self: flex-start;
    padding-right: 2rem;
}
.form__lbl_switch::before {
    content: "";
    position: absolute;
    display: block;
    height: 2rem;
    width: 4rem;
    border: 1px solid silver;
    border-radius: 1rem;
    left: 100%;
    top: 0;
    transition: background-color 200ms;
}
.form__lbl_switch::after {
    content: "";
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    border: 1px solid silver;
    border-radius: 50%;
    background-color: white;
    left: 100%;
    top: 0;
    transition: transform 200ms;
}

.form_product .layout {
    gap: 3rem;
}
.form_product .form__row:nth-child(2) .form__lbl {
    order: -1;
}
.search__panel {
    position: absolute;
    top: 100%;
    min-width: 100%;
    z-index: 1;
    background-color: white;
    border: 1px solid silver;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    max-height: calc(12 * 2rem * 1.2 + 4rem);
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
}
.search__block {
    /*display: grid;*/
    /*gap: 1rem;*/
}
.search__block_text {
    grid-column-end: span 2;
}
.search__caption {
    margin-bottom: .5rem;
}
.search__row {
    width: max-content;
    cursor: pointer;
    opacity: .8;
}
.search__row:hover {
    opacity: 1;
}
@media  screen and (min-width: 1064px) {
    .form_product .form__row:nth-child(2) {
        grid-row-end: span 4;
    }
    .form_product .form__row:nth-child(2) .form__image {
        flex: 1;
    }
    .form_product .form__row:nth-child(7) {
        grid-row-end: span 2;
    }
    .form_product .form__row:nth-child(7) .form__text {
        flex: 1;
    }
    .form_product .form__btn {
        grid-row: 7 / 9;
        grid-column-start: 2;
    }
}




