.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid silver;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.card__img {
    margin-top: 2rem;
    display: block;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}
.card__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.card__title {
    height: calc(4rem * 1.2);
    overflow: hidden;
}
.card__info {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.8rem;
}
.card__rate {
    display: flex;
    gap: .4rem;
    align-items: center;
}
.card__rate_empty {
    color: silver;
}
.card__review {
    color: silver;
}
.card__price {
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.card__price_discount {
    font-weight: normal;
    font-size: 2rem;
    color: silver;
}
.card__btn {
    border: none;
    outline: none;
    padding: 1rem;
    opacity: .8;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.card button:hover {
    opacity: 1;
}
.card__buttons {
    display: flex;
    gap: 1rem;
}
.card__btn_basket {
    border-radius: 1rem;
    background-color: silver;
    flex: 1;
}
.card__tag {
    color: white;
    font-size: 2.2rem;
    background-color: silver;
    width: 100%;
}
.card__tag_toys {
    background-color: olivedrab;
}
.card__tag_delicious {
    background-color: crimson;
}
.card__tag_outerwear {
    background-color: darkslateblue;
}
.card .lni {
    font-size: 1.4em;
}
.card__info .lni {
    font-size: 1em;
}
.card__discount {
    position: absolute;
    top: 2rem;
    right: 3rem;
    background-color: red;
    z-index: 5;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px silver, 0 2px 15px white;
}
.card_disabled::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(192, 192, 192, 0.7);
    z-index: 10;
}
.card_disabled::after {
    content: "Нет на складе";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: white;
    text-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    transform: rotate(45deg);
}