.product__title {
    margin-bottom: 1rem;
}
.product__tags {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.product__tag {
    border: 1px solid silver;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
.product__tag:hover {
    background-color: silver;
}
.product__img {
    width: 100%;
}
.product__description {
    display: grid;
    gap: .5rem;
}
.product__info {
    display: grid;
    gap: 2rem;
    align-content: flex-start;
}
.product__price {
    font-size: 6rem;
    display: flex;
    align-items: baseline;
    gap: 2rem;
    width: max-content;
}
.product__price_del {
    font-size: 3rem;
    color: grey;
}
.product__price_per {
    font-size: 3rem;
    color: crimson;
    position: absolute;
    right: 0;
    top: 0;
}
.product__rate {
    display: flex;
    gap: 2rem;
}
.product__rate > * {
    display: flex;
    align-items: center;
}
.product__heart {
    cursor: pointer;
}
.product__table {
    width: max-content;
}
.product__table th {
    text-align: left;
    padding-right: 2rem;
    font-weight: normal;
    color: grey;
}
.product__btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.product__btn {
    flex: 1;
    border: 1px solid silver;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    max-width: 30rem;
}
.product__btn:hover {
    background-color: silver;
}
.product__btn:disabled {
    cursor: default;
}
.product__btn:disabled:hover {
    background-color: transparent;
}
.product__btn_square {
    max-width: calc(3rem * 1.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.review {
    display: grid;
    grid-template-columns: 7rem 1fr;
    grid-template-rows: 3rem 3rem;
    gap: 1rem;
    padding: 2rem 0;
}
.review__img {
    grid-row-end: span 2;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-color: silver;
}
.review__text {
    margin-top: 1rem;
    grid-column-end: span 2;
}
.review__footer {
    grid-column-end: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review__date {
    color: grey;
    font-size: 1.5rem;
}
.review__date + i {
    cursor: pointer;
    color: silver;
}
.review__date + i:hover {
    cursor: pointer;
    color: grey;
}
.reviews__btn {
    grid-column-end: span 2;
    background-color: silver;
    border: 1px solid silver;
    padding: 1rem;
    border-radius: 1rem;
}
.reviews__btn:hover {
    color: white;
}
.reviews__add {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem 0;
}
.product__reviews .layout_h-100 {
    height: auto;
}
@media screen and (min-width: 1064px) {
    .product__description {
        grid-column-end: span 2;
    }
    .product__reviews {
        grid-column-end: span 2;
    }
    .reviews__btn {
        grid-column-end: span 4;
    }
}