.news {
    background-color: silver;
    border-radius: 1rem;
    overflow: hidden;
}
.news__img {
    width: 100%;
    display: block;
}
.news__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.news__title {
    font-weight: 600;
    height: calc(6rem * 1.2);
    overflow: hidden;
}