:root {
    font-size: 8px;
}
* {
    position: relative;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
button {
    cursor: pointer;
}
ul {
    padding: 0;
    list-style-type: none;
}
.menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.menu>li {
    position: relative;
}
.menu>li:hover>ul {
    visibility: visible;
}
.menu ul {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 5px 0 #0004;
    visibility: hidden;
}