.nav {
    display: flex;
    gap: 3rem;
}
.nav_horizontal {
    flex-direction: row;
}
.nav_vertical {
    flex-direction: column;
}
.nav_submenu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 2rem;
    border: 1px solid silver;
    border-radius: 1rem;
    gap: 2rem;
    left: calc(-2rem - 1px);
    top: 100%;
}
.nav_submenu>.nav__item {
    padding-bottom: 0;
}
.nav_submenu .nav__link {
    justify-content: flex-start;
}
.nav__item {
    position: relative;
    padding: 1rem 0;
}
.nav__link {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    opacity: .8;
}
.nav__link:hover {
    opacity: 1;
}
.nav__item:hover>.nav_submenu {
    display: flex;
}
.nav__link_horizontal {
    flex-direction: row;
}
.nav__link_vertical {
    flex-direction: column;
}
.nav__image {
    height: 3rem;
}
.nav__icon {
    font-size: 3rem;
}