.banner {
    background-size: contain;
    background-position: center;
    min-height: 400px;
    max-height: 60vh;
    display: grid;
    align-content: flex-end;
}
.banner__caption {
    font-size: 8rem;
}
.banner__text {
    font-size: 3rem;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0c0c0;
    opacity: .6;
}

@media screen and (min-width: 1064px) {
    .banner__caption {
        font-size: 16rem;
    }
    .banner__text {
        font-size: 5rem;
    }
}